In [5]:
import pandas as pd

In [6]:
copd_df = pd.read_csv('COPD_data.csv', sep=',')
copd_df

   Age group (years)  Death rate United States 2019  Death rate Uganda 2019
0                0-4                           0.04                    0.40
1                5-9                           0.02                    0.17
2              10-14                           0.02                    0.07
3              15-19                           0.06                    0.23
4              20-24                           0.11                    0.38
5              25-29                           0.11                    0.40
6              30-34                           0.29                    0.75
7              35-39                           0.56                    1.11
8              40-44                           1.42                    2.04
9              45-49                           4.00                    5.51
10             50-54                          14.13                   13.26
11             55-59                          37.22                   33.25
12             60-64                          66.48                   69.62
13             65-69                         108.66                  120.78
14             70-74                         213.10                  229.88
15             75-79                         333.06                  341.06
16             80-84                         491.10                  529.31
17               85+                         894.45                  710.40

In [7]:
copd_df['population'] = 1

copd_df['population * Death rate USA'] = copd_df['population'] * copd_df['Death rate United States 2019']# / 10**5
copd_df['population * Death rate Uganda'] = copd_df['population'] * copd_df['Death rate Uganda 2019']# / 10**5

result_df = pd.DataFrame({'crude_rate': [copd_df['population * Death rate USA'].sum(),
                                                copd_df['population * Death rate Uganda'].sum()]},
                         index=['Usa', 'Uganda'])
result_df

        crude_rate
Usa        2164.83
Uganda     2058.62

In [8]:
result_df['age_standardisation'] = [result_df.loc['Usa', 'crude_rate']/result_df.loc['Uganda', 'crude_rate'],
                                    result_df.loc['Uganda', 'crude_rate']/result_df.loc['Usa', 'crude_rate']]

result_df

        crude_rate  age_standardisation
Usa        2164.83             1.051593
Uganda     2058.62             0.950938